{{define "index"}}
<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Project name</a>
          <ul class="nav pull-right">
            {{if .login}}
            <li><a href="{{.login}}">Sign In</a></li>
            {{end}}
            {{if .logout}}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{.email}}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#/settings">Settings</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="{{.logout}}">Logout</a></li>
              </ul>
            </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>

    <div ng-view></div>

    <script src="lib/jquery/jquery-2.0.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
  </body>
</html>
{{end}}