{{define "main"}}
<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>My App</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="css/app.css"/>
  </head>
  <body>

    <div class="container">
      <div ng-view></div>
    </div>

    <input type="hidden" id="xsrftoken" name="xsrftoken" value="{{.XSRFToken}}"/>

    <!-- Dev / Dist Scripts -->
    {{if .Dev}}
    <!-- Dev Only Scripts -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>

    <script src="js/app.js"></script>

    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/customers.js"></script>
    <script src="js/controllers/customer.js"></script>

    <script src="js/services/customers.js"></script>
    {{else}}
    <!-- Dist Only Scripts -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-animate.min.js"></script>
    <script src="dist/app.min.js"></script>
    {{end}}


  </body>
</html>
{{end}}
