<div class="page-header"><h1>Todo</h1></div>
<section class="row">

  <!-- Add Task -->
  <aside class="col-sm-4">
    <div class="panel panel-default">
      <header class="panel-heading"><h3 class="panel-title">New Task</h3></header>
      <div class="panel-body">
        <form ng-submit="add()">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="newTask" required>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Add!</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </aside>

  <!-- List Tasks -->
  <div class="col-sm-8">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="task in tasks">
        <button type="button" class="close" aria-hidden="true">&times;</button>
        {{task}}
      </li>
    </ul>
  </div>
</section>
